<%- include('partials/header.ejs') %>
  <div class="container mt-3">
    <div class="row">
      
      <div class="col-lg-9">
        <div id="project_card">
         
        </div>


        <h3 class="mt-3">Donations</h3>
        <div id="donations_card">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card text-white position-fixed">
          <div class="card-header bg-primary">Funded (ETH)</div>
          <div id="funded" class="text-warning text-center" style="font-size: 5rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">0</div>
          <div class="card-header bg-primary">Target (ETH)</div>
          <div id="target" class="text-success text-center" style="font-size: 5rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">0</div>
          <div class="card-header bg-primary">Fund Me</div>
          <form class="p-3" method="post" onsubmit="handleFund(event)">
            <div class="input-group">
              <span class="input-group-text">ETH</span>
              <input id="value" name="value" type="number" step=".01" class="form-control" aria-label="Amount">
            </div>
            <button class="btn btn-danger w-100 mt-3" type="submit">Fund</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <%- include('partials/footer.ejs') %>
    <script>

      // fund eth through blockchain
      const fund = (value) => {
        window.contract.methods.donate(<%- id %>).send({ from: localStorage.getItem("account"), value: value }).then(result => {
          $("#value").val(null);
          $("#toast-body").html("Funded successfully! Thank you!");
          toastBootstrap.show();
        });
		  }

      // get donations eth through blockchain
      const getDonations = () => {
        window.contract.methods.getDonators(<%- id %>).call().then(result => {
          donators = result[0];
          donations = result[1];
          for(i=0; i<donators.length; i++) {
            donation_html = `
            <ul class="list-group">
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <div class="text-danger" style="font-weight:bolder; font-size:16px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">${web3.utils.fromWei(donations[i], 'ether')}</div>&nbsp;ETH  from&nbsp; <div><a class="nav-link" target="_blank" href="https://sepolia.etherscan.io/address/${donators[i]}"><span style="font-size:14px; font-weight:bolder; color:gray;">${donators[i]}</span></a></div>
                </div>
              </li>
          </ul>
          `;
            $("#donations_card").append(donation_html);
          }
          
        });
		  }

      const displayProject = (id) => {
        projects = JSON.parse(localStorage.getItem(PROJECTS));
        for (i = 0; i < projects.length; i++) {
          if (i == id) {
            project_html = `
            <div class="card card-cover object-fit-fill h-100 p-3">
              <h4 class="display-6 lh-1 fw-bold">${projects[i].title}</h4>
              <div class="d-flex align-items-center">
                <a class="nav-link" target="_blank" href="https://sepolia.etherscan.io/address/${projects[i].owner}"><span style="font-size:14px; font-weight:bolder; color:gray;">Onwer: ${projects[i].owner}</span></a>
                <span class="ms-3" style="font-size:14px; font-weight:bolder; color:gray;">Deadline: ${new Date(parseInt(projects[i].deadline)).toLocaleDateString()}</span>
              </div>
              <img class="mt-3" src="${projects[i].image}" />
              <div class="mt-3">
                <h4>Description</h4>
                ${projects[i].description}
              </div>
            </div>
          `;
            $("#project_card").append(project_html);
            $("#funded").text(web3.utils.fromWei(projects[i].collected, 'ether'));
            $("#target").text(web3.utils.fromWei(projects[i].target, 'ether'));

            // Load donations
            getDonations();
            return;
          }
        }
        
      }

      // Handle Fund
      const handleFund = (event) => {
        event.preventDefault();
        value = $("#value").val() * 1000000000000000000;
        if($("#value").val() < 0.01) {
          $("#toast-body").html("Amount should more than or equal to 0.01!");
          toastBootstrap.show();
          return;
        }
        fund(value);
      }
      $(async function () {
        //Connect to contract
        await connectContract();

        displayProject(<%- id %>);
      })

    </script>